# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Data & Models (large files)
*.csv
*.joblib
*.keras
*.pkl
*.h5

# Streamlit
.streamlit/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
